@define-color bg {{colors.surface_container.default.hex}};
@define-color fg {{colors.on_primary_container.default.hex}};
@define-color bg-alt {{colors.primary_container.default.hex}};
@define-color fg-alt {{colors.on_primary_container.default.hex}};
@define-color bg-active {{colors.primary.default.hex}};
@define-color fg-active {{colors.on_primary.default.hex}};
