@import "colors.css";

* {
    border: none;
    font-family: "ZedMono Nerd Font Propo", "Rubik", Roboto, Helvetica, Arial, sans-serif;
    font-size: 22px;
    min-height: 22px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

tooltip {
    background: @bg-alt;
}

tooltip label {
    color: @fg-alt;
}

window#waybar {
    border-radius: 12px;
    color: @fg;
    background: rgba(24, 39, 49, 0);
}

#image {
    padding: 0px 12px;
    border-radius: 20px;
    color: #000000;
    background-color: @bg;
}

#custom-spotify, #custom-osu {
    margin-left: 8px;
    padding: 0px 12px;
    border-radius: 20px;
    color: @fg-alt;
    background-color: @bg-alt;
}

#custom-osu.selecting, #custom-osu.playing {
    background-color: rgb(169, 67, 113);
    color: #ffeded;
}

#workspaces {
    margin: 0px 8px;
    padding: 8px;
    border-radius: 20px;
    background-color: @bg;
}

#workspaces button {
    margin: 0px 2px;
    padding: 0px 6px;
    border-radius: 12px;
    color: @bg-alt;
    background-color: @bg-alt;
}

#workspaces button.active {
    padding: 0px 16px;
    border-radius: 12px;
    color: @fg-active;
    background-color: @bg-active;
}

#tray {
    margin-right: 8px;
    padding: 0px 14px;
    border-radius: 20px;
    background-color: @bg-alt;
}

#network {
    padding: 0px 10px 0px 14px;
    border-radius: 20px 0px 0px 20px;
    background-color: @bg;
}

#memory, #pulseaudio, #clock {
    padding: 0px 10px;
    border-radius: 0px;
    background-color: @bg;
}

#network:hover, #memory:hover, #pulseaudio:hover, #clock:hover {
    background-color: @bg-alt;
    transition: background-color 0.5s ease;
}

#battery {
    padding: 0px 14px 0px 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: @bg;
}

#battery.charging, #battery.plugged, #battery.full {
    color: rgb(100, 219, 183);
    background-color: #829600;
}

#battery.low:not(.charging) {
    background-color: rgb(255, 85, 0);
}

#battery.critical:not(.charging) {
    background-color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* 
#workspaces button:nth-child(1){
    margin: 0px 0px 8px 12px;
    padding: 2px 16px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}

#workspaces button:last-child{
    margin: 0px 0px 8px 0px;
    padding: 2px 16px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}
*/
