* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font Propo", mononoki, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 28px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

window#waybar {
    background: rgb(24, 39, 49);
    border-radius: 12;
    color: rgb(255, 255, 255);
}

#image {
    margin: 0px 12px 0px 12px;
}
#workspaces button {
    margin: 0px 0px 0px 0px;
    padding: 2px 16px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}
#workspaces button.active {
    background-color: #ababab;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 0px 42px;
}
#window {
    margin: 0px 0px 2px 10px;
}

#clock {
    margin-bottom: 2px;
    padding: 2px 18px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
}

#tray {
    margin-right: 12px;
    margin-bottom: 4px;
}
#network, #pulseaudio {
    padding: 0px 19px;
    border-radius: 20px;
    background-color: rgb(57, 116, 119);
}
#battery{
    padding: 0px 19px;
    border-radius: 18px;
    background-color: rgb(57, 116, 119);
}

#mode {
    background: #64727D;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.low {
    background-color: rgb(255, 85, 0);
}
#battery.critical {
    background-color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.high:not(.charging) {
    color: rgb(255, 255, 255);
    background-color: #829600;
}

#pulseaudio-slider {
    margin: 0px 8px 4px 0px;
    padding: 2px 8px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 18px;
    min-width: 120px;
    border-radius: 5px;
    background: black;
    border: 1px solid #ababab;
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background: #ababab;
}

/* 
#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 

#pulseaudio.level-5,
#pulseaudio.level-10,
#pulseaudio.level-15 { 
    background-color: #5e5e5e;
}

#pulseaudio.level-20,
#pulseaudio.level-25,
#pulseaudio.level-30 { 
    background-color: #6e6e6e;
}

#pulseaudio.level-35,
#pulseaudio.level-40,
#pulseaudio.level-45 { 
    background-color: #7e7e7e;
}

#pulseaudio.level-50,
#pulseaudio.level-55,
#pulseaudio.level-60 { 
    background-color: #8e8e8e;
}

#pulseaudio.level-65,
#pulseaudio.level-70,
#pulseaudio.level-75 { 
    background-color: #9e9e9e;
}

#pulseaudio.level-80,
#pulseaudio.level-85,
#pulseaudio.level-90,
#pulseaudio.level-95,
#pulseaudio.level-100 { 
    background-color: #aeaeae;
}

#pulseaudio.level-5 { padding-right: 10px; }
#pulseaudio.level-10 { padding-right: 20px; }
#pulseaudio.level-15 { padding-right: 30px; }
#pulseaudio.level-20 { padding-right: 40px; }
#pulseaudio.level-25 { padding-right: 50px; }
#pulseaudio.level-30 { padding-right: 60px; }
#pulseaudio.level-35 { padding-right: 70px; }
#pulseaudio.level-40 { padding-right: 80px; }
#pulseaudio.level-45 { padding-right: 90px; }
#pulseaudio.level-50 { padding-right: 100px; }
#pulseaudio.level-55 { padding-right: 110px; }
#pulseaudio.level-60 { padding-right: 120px; }
#pulseaudio.level-65 { padding-right: 130px; }
#pulseaudio.level-70 { padding-right: 140px; }
#pulseaudio.level-75 { padding-right: 150px; }
#pulseaudio.level-80 { padding-right: 160px; }
#pulseaudio.level-85 { padding-right: 170px; }
#pulseaudio.level-90 { padding-right: 180px; }
#pulseaudio.level-95 { padding-right: 190px; }
#pulseaudio.level-100 { padding-right: 200px; }

#workspaces button:nth-child(1){
    margin: 0px 0px 8px 12px;
    padding: 2px 16px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}

#workspaces button:last-child{
    margin: 0px 0px 8px 0px;
    padding: 2px 16px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}
*/
