* {
    border: none;
    font-family: "CaskaydiaCove Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 18px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

window#waybar {
    border-radius: 12;
    color: rgb(147, 161, 161);
    background: rgba(24, 39, 49, 0);
}

#image {
    padding: 0px 12px;
    border-radius: 12px;
    color: #000000;
    background-color: rgb(7, 54, 66);
}
#workspaces{
    padding: 8px 12px;
    border-radius: 16px;
    background-color: rgb(7, 54, 66);
}
#workspaces button{
    padding: 0px 16px;
    border-radius: 12px;
    background-color: rgb(7, 54, 66);
    transition: background 0.4s cubic-bezier(0.2, 0, 0.2, 1);
}
#workspaces button.active{
    padding: 0px 16px;
    border-radius: 12px;
    color: rgb(198, 198, 198);
    background-color: rgb(17, 93, 112);
}

#tray{
    margin-right: 8px;
    padding: 0px 10px;
    border-radius: 12px;
    background-color: rgb(17, 93, 112);;
}

#network{
    padding: 0px 10px;
    border-radius: 12px 0px 0px 12px;
    background-color: rgb(7, 54, 66);
}
#memory, #pulseaudio, #clock{
    padding: 0px 10px;
    border-radius: 0px;
    background-color: rgb(7, 54, 66);
}

#battery{
    padding: 0px 10px;
    border-radius: 0px 12px 12px 0px;
    background-color: rgb(7, 54, 66);
}

#mode {
    background: #64727D;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.low {
    background-color: rgb(255, 85, 0);
}
#battery.critical {
    background-color: red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.charging, #battery:not(.high) {
    color: rgb(100, 219, 183);
    background-color: #829600;
}

/* 
#workspaces button:nth-child(1){
    margin: 0px 0px 8px 12px;
    padding: 2px 16px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}

#workspaces button:last-child{
    margin: 0px 0px 8px 0px;
    padding: 2px 16px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}
*/
