@import "colors.css";

* {
    border: none;
    font-family: "MartianMono Nerd Font Propo", "Rubik", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 22px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

window#waybar {
    border-radius: 12px;
    color: @fg;
    background: rgba(24, 39, 49, 0);
}

#image {
    padding: 0px 12px;
    border-radius: 20px;
    color: #000000;
    background-color: @bg;
}

#custom-spotify {
    margin-left: 8px;
    padding: 0px 12px;
    border-radius: 20px;
    color: @fg-alt;
    background-color: @bg-alt;
}

#custom-osu {
    margin-left: 8px;
    padding: 0px 12px;
    border-radius: 20px;
    color: @fg-alt;
    background-color: @bg-alt;
}

#custom-osu.selecting, #custom-osu.playing {
    background-color: rgb(169, 67, 113);
    color: #ffeded;
}

#workspaces{
    margin: 0px 8px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 0px solid rgb(17, 93, 112);
    background-color: @bg;
}
#workspaces button{
    margin: 0px 2px;
    padding: 0px 2px;
    border-radius: 12px;
    color: @bg-alt;
    background-color: @bg-alt;
}
#workspaces button.active{
    padding: 0px 16px;
    border-radius: 12px;
    color: @fg-active;
    background-color: @bg-active;
}

#tray{
    margin-right: 8px;
    padding: 0px 14px;
    border-radius: 20px;
    background-color: @bg-alt;
}

#network{
    padding: 0px 10px 0px 14px;
    border-radius: 20px 0px 0px 20px;
    border-top: 0px solid rgb(17, 93, 112);
    border-bottom: 0px solid rgb(17, 93, 112);
    border-left: 0px solid rgb(17, 93, 112);
    background-color: @bg;
}
#memory, #pulseaudio, #clock{
    padding: 0px 10px;
    border-radius: 0px;
    border-top: 0px solid rgb(17, 93, 112);
    border-bottom: 0px solid rgb(17, 93, 112);
    background-color: @bg;
}

#mode {
    background: #64727D;
}

#battery{
    padding: 0px 14px 0px 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: @bg;
}
#battery:not(.high){
    border-top: 0px solid rgb(17, 93, 112);
    border-bottom: 0px solid rgb(17, 93, 112);
    border-right: 0px solid rgb(17, 93, 112);
    color: rgb(100, 219, 183);
    background-color: #829600;
}
#battery.critical{
    background-color: red;
}
#battery.critical:not(.charging){
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.low{
    background-color: rgb(255, 85, 0);
}
#battery.charging{
    color: rgb(100, 219, 183);
    background-color: #829600;
}
#battery.high:not(.charging):not(.low):not(.critical){
    border-top: 0px solid rgb(17, 93, 112);
    border-bottom: 0px solid rgb(17, 93, 112);
    border-right: 0px solid rgb(17, 93, 112);
}

/* 
#workspaces button:nth-child(1){
    margin: 0px 0px 8px 12px;
    padding: 2px 16px;
    border-radius: 20px 0px 0px 20px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}

#workspaces button:last-child{
    margin: 0px 0px 8px 0px;
    padding: 2px 16px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(36, 36,36);
    color: rgb(0, 0, 0);
}
*/
