* {
	font-family: 'CaskaydiaCove Nerd Font Mono';
	transition: 300ms;
	background-image: none;
	box-shadow: none;
	animation-duration: 20ms;
}

window {
	background-color: rgba(12, 12, 12, 0.4);
}

button {
	margin: 0;
    border-radius: 12;
    border: solid 4px rgba(17, 93, 112, 0);
	text-decoration-color: #FFFFFF;
	color: rgb(198, 198, 198);
	background-color: rgba(7, 54, 66, 0);

	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active {
	background-color: rgb(17, 93, 112);
	outline-style: none;
	/* box-shadow: 0 0 5 10 rgba(17, 93, 112, 0.2); */
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
